.about-section {
    position: relative;
    overflow: hidden;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
  }
  
  .about-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
  
  .about-container {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 100;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    padding: 0 5%;
  }
  
  .about-section .card {
    background-color: #ffffff !important;
    padding: 40px;
    display: flex;
    color: #000 !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    overflow: hidden;
  }
  
  .about-section .card-large {
    border-radius: 90px 0px 90px 90px;
    padding: auto;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    max-height: 400px;
    align-items: flex-start;
  }
  
  .about-section .card-image1 {
    border-radius: 0px 200px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    max-height: 400px;
    padding: 0;
  }
  
  .about-section .card-image2 {
    border-radius: 180px 190px 180px 0px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 0;
    max-height: 250px;
  }
  
  .about-section .card-icon {
    border-radius: 180px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
    max-height: 250px;
  }
  
  .about-section .card-image1 img,
  .about-section .card-image2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
  
  .about-section .card h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #000000 !important;
  }
  
  .about-section .card p {
    font-size: 1rem;
    line-height: 1.5;
    color: #000000 !important;
  }
  
  .about-section .icon {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  
  @media (max-width: 768px) {
    .about-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      max-width: 600px;
    }
    
    .about-section .card,
    .about-section .card-image1,
    .about-section .card-image2,
    .about-section .card-icon {
      grid-column: 1 / -1;
      grid-row: auto;
    }
    
    .about-section .card h2 {
      font-size: clamp(1.25rem, 5vw, 1.5rem);
      padding-top: 5%;
      padding-left: 5%;
    }
  
    .about-section .card p {
      font-size: clamp(0.75rem, 3vw, 0.875rem);
      padding-left: 5%;
      padding-bottom: 5%;
    }
  
    .about-section .card-icon .icon {
      font-size: clamp(1.5rem, 8vw, 2rem);
    }
  
    .about-section .card-large {
      padding: 15px;
    }
  }