.experience-section {
    position: relative;
    padding: 1rem 0;
    background-color: #000;
    min-height: auto;
    max-width: 100%;
    min-width: 100vw;
  }
  .experience-container {
    min-width: 90vw;
    max-width: 111vw;
    display: grid;
    gap: 15px;
  }
  .card-title{
    margin-bottom: auto;
  }
  .section-title {
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
  }
  .card-title.card-exp-company {
    font-size: 1.2rem;
    padding: auto;
  }

  .card-subtitle.text-secondary.mb-1 {
    font-size: 0.9rem;
  }
  .experience-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
  
  .timeline {
    position: relative;
    padding: 0;
    list-style: none;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #43a3e0;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
  }
  
  .timeline-item {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  .timeline-item::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: -10px;
    background-color: #000;
    border: 2px solid #43a3e0;
    top: 15px;
    transform: rotate(45deg);
    z-index: 1;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    left: 50%;
  }
  
  .left::before {
    content: "";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #ffffff;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #ffffff;
  }
  
  .right::before {
    content: "";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #ffffff;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ffffff transparent transparent;
  }
  
  .right::after {
    left: -10px;
  }
  
  .timeline-content {
    padding: 20px 30px;
    background-color: rgba(67, 163, 224, 0.1);
    position: relative;
    border-radius: 6px;
    border: 1px solid #ffffff;
    color: #fff;
  }
  
  .timeline-content h3 {
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .timeline-content p {
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 600px) {
    .timeline::after {
      left: 31px;
    }
    .experience-container {
        justify-content: center;
        
        max-width: 90%;
        display: flex row;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
        gap: 15px;
        padding: 0 5% 0 5%;
      }
    .timeline-item {
      width: 100%;
      padding-left: 50px;
      padding-right: 25px;
    }
    .timeline-item::after {
      left: 21px !important;
    }
    .timeline-item::before {

      border: medium solid #000000;
      border-width: 10px 10px 10px 0;
      border-color: transparent #000000 transparent transparent;
    }
  
    .left::after, .right::after {
      left: 15px;
    }
    
    .right {
      left: 0%;
    }
  }